.uranus-button,
.uranus-inline-save-button,
.uranus-inline-cancel-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2rem;
  border-radius: 999px;
  color: #fff;
  background: var(--uranus-button-gradient);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    filter: brightness(1.25);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: wait;
    opacity: 0.75;
    transform: none;
  }
}

.uranus-inline-save-button {
  font-weight: 700;
  background: #1ac168;
  padding: 0.6em 1em;
}

.uranus-inline-cancel-button {
  font-weight: 700;
  background: #ed5c5c;
  padding: 0.2em 1em;
}


.uranus-secondary-button,
.uranus-inline-edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  color: var(--uranus-secondary-button-color);
  background-color: transparent;
  border: 1px solid var(--uranus-secondary-button-border-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled):not(&--active) {
    background-color: var(--uranus-secondary-button-background-color);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: wait;
    opacity: 0.75;
    transform: none;
  }

  // Active state for button
  &--active {
    background: var(--accent-primary);
    color: white;
    cursor: default;

    &:hover {
    }
  }
}

.uranus-secondary-button,
.uranus-inline-edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  color: var(--uranus-secondary-button-color);
  background-color: transparent;
  border: 1px solid var(--uranus-secondary-button-border-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled):not(&--active) {
    background-color: var(--uranus-secondary-button-background-color);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: wait;
    opacity: 0.75;
    transform: none;
  }

  // Active state for button
  &--active {
    background: var(--accent-primary);
    color: white;
    cursor: default;

    &:hover {
    }
  }
}