.uranus-inline-label {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--uranus-color);
  margin-bottom: 0.6rem;
}

.uranus-hover-section {
  border: 1px solid transparent;
  border-radius: var(--uranus-inline-edit-border-radius);
  padding: 12px;
  transition: all 0.5s ease;
}

.uranus-hover-section:hover {
  border-color: var(--uranus-low-contrast-color);
}

.uranus-inline-edit-button {
  padding: 0.2rem 0.5rem;
  opacity: 0.0;
}

/* Show edit buttons on mobile without hover */
@media (max-width: 768px) {
  .uranus-inline-edit-button {
    opacity: 1;
  }
}

.uranus-hover-section:hover
.uranus-inline-edit-button {
  opacity: 1;
  transition: all 0.5s ease;
}

.uranus-inline-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0px solid #ddd;
}

.uranus-inline-section-button-area {
  display: flex;
  justify-content: right;
  gap: 0.75rem;
}