.uranus-card {
  display: flex;
  flex-direction: column;
  gap: var(--uranus-grid-gap);
  color: var(--uranus-card-color);
  background-color: var(--uranus-card-background-color);
  border-radius: 8px;
  border: 0px solid var(--uranus-low-contrast-color);
  padding: 20px;
}

.uranus-card-hero {
}

.uranus-card-hero h2 {
}

.uranus-card-hero p {
}