.uranus-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  color: var(--uranus-card-color);
  background-color: var(--uranus-bg-color);
  border: 1px solid var(--uranus-low-contrast-color);
  border-radius: 8px;
}