// Default Uranus Dashboard Button
.uranus-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border-radius: 2px;
  background: var(--uranus-button-bg);
  color: var(--uranus-button-color);
  text-decoration: none;
  transition: all 0.1s ease;

  &:hover {
    background: var(--uranus-button-hover-bg);
    color: var(--uranus-button-hover-color);
  }

  &.tiny {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
  }

  &.active {
    color: var(--uranus-button-active-color);
    background: var(--uranus-button-active-bg);
  }
}

.uranus-button-icon {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}

.uranus-save-button,
.uranus-cancel-button {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.6em 1em;
  border-radius: 99px;
  transition: all 0.1s ease;
}

.uranus-save-button {
  background: transparent;
  border: 2px solid #39d190;
  color: #39d190;
  &:hover:not(:disabled) {
    background: #39d190;
    color: white;
  }
}

.uranus-cancel-button {
  background: transparent;
  border: 2px solid #ff6358;
  color: #ff6358;
  &:hover:not(:disabled) {
    background: #ff6358;
    color: white;
  }
}



.uranus-action-button,
.xuranus-secondary-button,
.xuranus-tertiary-button,
.xuranus-save-button,
.xuranus-cancel-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.4rem;
  border-radius: 999px;
  color: var(--uranus-button-active-bg);
  border: 2px solid var(--uranus-button-active-bg);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    color: var(--uranus-button-active-color);
    background-color: var(--uranus-button-active-bg);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    transform: none;
  }
}

.xuranus-secondary-button,
.xuranus-tertiary-button {
  background: transparent;
  border: 2px solid var(--uranus-ia-color);
  color: var(--uranus-ia-color-dark1);
  padding: 0.4rem 1rem;

  &:hover:not(:disabled) {
    background: var(--uranus-ia-color);
    color: white;
  }

  &--active {
    background: var(--uranus-ia-color);
    color: white;
    cursor: default;
    &:hover {
    }
  }
}

.xuranus-tertiary-button {
  font-size: 0.9rem;
  padding: 0.3rem 0.9rem;
  border-width: 1px;
}



.xuranus-inline-edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
  color: var(--uranus-ia-inline-color);
  background-color: transparent;
  border: 1px solid var(--uranus-ia-inline-color-light2);
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled):not(&--active) {
    color: var(--uranus-bg-color);
    background-color: var(--uranus-ia-inline-color);
    border: 1px solid var(--uranus-ia-inline-color);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    transform: none;
  }

  // Active state for button
  &--active {
    background: var(--uranus-ia-inline-color);
    color: white;
    cursor: default;
    &:hover {
    }
  }
}