.uranus-value-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #333;
  border: 1px solid #e1e1e1;
  padding: 0.5rem 1rem;
}

.uranus-value-info-label {
  font-weight: bold;
}

.uranus-value-info-value {
  text-align: right;
}

.uranus-not-set-info {
  color: var(--uranus-muted-text);
  font-style: italic;
  padding: 0;
  margin: 0;
}