.uranus-dashboard-action-bar {
    padding: 12px;
    border: 0;
}

.uranus-dashboard-chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.uranus-dashboard-chip {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.8rem; /* default: top/bottom 0.25rem, left/right 0.5rem */
  border-radius: 8px;
  background: var(--uranus-event-type-chip-background);
  color: var(--uranus-event-type-chip-color);
  font-weight: 600;
  font-size: 0.86rem;
  position: relative; /* for absolute close button */

  &.removable {
    padding-right: 2rem; /* extra space for close icon */
  }

  &.tiny {
    padding: 0.1rem 0.4rem;
    font-size: 0.72rem;
    font-weight: 500;
    border-radius: 6px;

    &.removable {
      padding-right: 1.5rem; /* still leave space for close button */
    }
  }

  &.language {
    background: var(--uranus-language-chip-background);
    color: var(--uranus-language-chip-color);
  }

  &.tags {
    background: var(--uranus-tag-chip-background);
    color: var(--uranus-tag-chip-color);
  }
}

.uranus-dashboard-language-chip {
}

.uranus-dashboard-chip-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
  width: 1.2em;
  height: 1.2em;
  border: none;
  border-radius: 50%;
  background: var(--uranus-color-d1); // TODO: Define new global color
  color: var(--uranus-color); // TODO: Define new global color
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background: var(--uranus-event-type-chip-color);
    color: var(--uranus-event-type-chip-background);
  }

  &.language {
    background: var(--uranus-language-chip-background);
    color: var(--uranus-language-chip-color);

    &:hover {
      color: var(--uranus-language-chip-background);
      background: var(--uranus-language-chip-color);
    }
  }

  &.tags {
    background: var(--uranus-tag-chip-background);
    color: var(--uranus-tag-chip-color);

    &:hover {
      color: var(--uranus-tag-chip-background);
      background: var(--uranus-tag-chip-color);
    }
  }
}