.uranus-button,
.uranus-secondary-button,
.uranus-tertiary-button,
.uranus-save-button,
.uranus-cancel-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.4rem;
  border-radius: 999px;
  color: var(--uranus-bg-color);
  background: var(--uranus-ia-color);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    background: var(--uranus-ia-color-dark1);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    transform: none;
  }
}

.uranus-secondary-button,
.uranus-tertiary-button {
  background: transparent;
  border: 2px solid var(--uranus-ia-color);
  color: var(--uranus-ia-color-dark1);
  padding: 0.4rem 1rem;

  &:hover:not(:disabled) {
    background: var(--uranus-ia-color);
    color: white;
  }

  &--active {
    background: var(--uranus-ia-color);
    color: white;
    cursor: default;
    &:hover {
    }
  }
}

.uranus-tertiary-button {
  font-size: 0.9rem;
  padding: 0.3rem 0.9rem;
  border-width: 1px;
}


.uranus-save-button,
.uranus-cancel-button {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.6em 1em;
}

.uranus-save-button {
  background: transparent;
  border: 2px solid #39d190;
  color: #39d190;
  &:hover:not(:disabled) {
    background: #39d190;
    color: white;
  }
}

.uranus-cancel-button {
  background: transparent;
  border: 2px solid #ff6358;
  color: #ff6358;
  &:hover:not(:disabled) {
    background: #ff6358;
    color: white;
  }
}

.uranus-inline-edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
  color: var(--uranus-ia-inline-color);
  background-color: transparent;
  border: 1px solid var(--uranus-ia-inline-color-light2);
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled):not(&--active) {
    color: var(--uranus-bg-color);
    background-color: var(--uranus-ia-inline-color);
    border: 1px solid var(--uranus-ia-inline-color);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    transform: none;
  }

  // Active state for button
  &--active {
    background: var(--uranus-ia-inline-color);
    color: white;
    cursor: default;
    &:hover {
    }
  }
}

.uranus-button-base {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border-radius: 0px;
  background-color: #f4f4f6;
  color: #333340;
  text-decoration: none;
  transition: all 0.2s ease;
}

.uranus-button-icon {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}