.uranus-inline-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--uranus-inline-label-color);
}

.uranus-inline-label .big {
  font-size: 1.4rem;
}

.uranus-inline-edit-section {
  position: relative;
  border: 2px solid transparent;
  border-radius: var(--uranus-card-border-radius);
  padding: 16px;
  gap:6px;
  transition: all 0.5s ease;
}

/* Hover effect */
.uranus-inline-edit-section:hover,
.uranus-inline-edit-section.uranus-inline-edit--active {
  border-color: var(--uranus-ia-inline-color);
}

.uranus-inline-section-layout {
  display: flex;
  flex-direction: column;
  gap: var(--uranus-grid-gap);
  margin-top: var(--uranus-grid-gap);
}


.uranus-inline-edit-button {
  position: absolute;
  right: 6px;
  top: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  border: 0;
  color: var(--uranus-bg);
  background-color: var(--uranus-ia-inline-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0;

  &:hover:not(:disabled):not(&--active) {
    color: var(--uranus-bg);
    background-color: var(--uranus-ia-inline-color-d1);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
    transform: none;
  }

  // Active state for button
  &--active {
    background: var(--uranus-ia-inline-color);
    color: white;
    cursor: default;
    &:hover {
    }
  }
}

.uranus-inline-icon {
  display: inline-flex;
  opacity: 0.0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.4s ease;
  color: var(--uranus-ia-inline-color);

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    background-color: var(--uranus-ia-inline-color);
    color: white;
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
  }
}

.uranus-inline-edit-section.uranus-inline-edit--active > .uranus-inline-edit-button {
  opacity: 0 !important;
}

.uranus-inline-edit-section:hover
.uranus-inline-edit-button {
  opacity: 1;
}

.uranus-inline-edit-section:hover
.uranus-inline-icon {
  opacity: 1;
  transition: all 0.5s ease;
}

.uranus-inline-action-bar {
  display: flex;
  justify-content: flex-end;
  gap: var(--uranus-grid-gap);
}

/* Show edit buttons on mobile without hover */
@media (max-width: 600px) {
  .uranus-inline-edit-button {
    opacity: 0.6;
  }
}
