.uranus-form {
  display: flex;
  flex-direction: column;
  gap: var(--uranus-grid-gap);

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0;

    /* new inner span for label text + required */
    .uranus-label-text {
      padding-left: 10px;
      margin: 0;
      font-weight: 400;
      font-size: 0.9rem;
      color: var(--uranus-medium-contrast-color);
      display: flex;
      align-items: center; /* vertically align text and star */
      gap: 0.25rem; /* small gap between label and star */
    }
  }

  .required {
    color: #dc2626;
    margin-left: 0.25rem;
  }

  input,
  textarea {
    font-size: 1rem;
    background: var(--uranus-bg-color);
    padding: 0.6rem 1.0rem;
    border: 0;
    border-bottom: 1px solid var(--uranus-low-contrast-color);
    border-radius: var(--uranus-form-field-border-radius);
    border-radius: 12px;
    background: lightpink;
    color: blueviolet;
  }
  input {
    font-size: 1.2rem;
  }

  .uranus-tiny-text {
    font-size: 0.85rem;
  }

  .uranus-big-text {
    font-size: 1.4rem;
  }

  select {
    padding: 0.6rem 1.0rem;
    font-size: 1.0rem;
    border: 1px solid var(--uranus-low-contrast-color);
  }
}

.uranus-form-row {
  display: flex;
  gap: 12px;
}

/* Make each textfield inside the row grow */

.uranus-form-row > .uranus-textfield-wrapper {
  flex: 1;           /* grow to fill row */
  min-width: 150px;  /* optional: prevent too small inputs */
  margin: 0;
}

@media (max-width: 600px) {
  .uranus-form-row {
    flex-direction: column; /* stack vertically on narrow screens */
  }
}




.uranus-form-wide {
  grid-column: span 2;
}

.uranus-form-full-width {
  grid-column: span 3;
}

.uranus-form-required {
  color: #dc2626;
  font-weight: 700;
}

/* Screen Reader only */
.uranus-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.uranus-field-error {
  margin: 0.35rem 0 0;
  font-size: 0.85rem;
  color: #b91c1c;
  font-weight: 600;
}

@media (min-width: 600px) {
}

@media (min-width: 1000px) {
}