.uranus-card {
  display: flex;
  flex-direction: column;
  gap: var(--uranus-card-gap);
  color: var(--uranus-card-color);
  background-color: var(--uranus-card-bg);
  border-radius: var(--uranus-card-border-radius);
  border: 0px solid var(--uranus-low-contrast-color);
  padding: 12px;
}

.uranus-card-hero {
}

.uranus-card-hero h2 {
}

.uranus-card-hero p {
}


.uranus-card-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}