.uranus-form {
  display: flex;
  flex-direction: column;
  gap: var(--uranus-grid-gap);

  > * {
    flex-shrink: 0;
  }


  input, textarea {
    font-family: var(--uranus-font-ui), sans-serif;
    font-size: 1rem;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-radius: var(--uranus-input-border-radius);
    background: var(--uranus-input-bg);
    color: var(--uranus-input-color);
    border: var(--uranus-input-border-width) solid var(--uranus-input-border-color);
    appearance: none;
  }

  input[type="date"] {
    font-family: var(--uranus-font-ui), sans-serif;
    font-weight: 500;
  }
  input[type="date"]::placeholder {
    color: red;
  }

  textarea {
    font-family: var(--uranus-font-ui), sans-serif;;
    border-radius: var(--uranus-input-border-radius);
  }
}

.uranus-form-action-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: end;
}

.uranus-label {
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
  gap: 4px;
}

.uranus-label-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: var(--uranus-color-4);
}

::placeholder {
  color: var(--uranus-input-placeholder-color);
}

.uranus-textarea {
  min-height: 8rem;
  resize: vertical;
  border: var(--uranus-input-border-width) solid var(--uranus-input-border-color) !important;
}

.uranus-form-row {
  display: flex;
  flex-wrap: wrap; // allow items to move to next line if needed
  gap: 12px;
  overflow: hidden;
  text-overflow: ellipsis;

  >* {
    flex: 1 1 auto;
  }
}

.uranus-form-row > .uranus-textfield-wrapper {
  flex: 1;
  margin: 0;
}

.uranus-form-action-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: transparent;
  gap: 12px;
}

@media (max-width: 600px) {
  .uranus-form-row {
    flex-direction: column;
    /* stack vertically on narrow screens */
  }

  .uranus-form-row>.uranus-textfield-wrapper {
    min-width: 100%;
    width: 100%;
  }
}

.uranus-form-wide {
  grid-column: span 2;
}

.uranus-form-full-width {
  grid-column: span 3;
}

.uranus-input-required {
  color: #dc2626;
  font-weight: 400;
}

/* Screen Reader only */
.uranus-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.uranus-field-error {
  margin: 0.35rem 0 0;
  font-size: 0.85rem;
  color: #b91c1c;
  font-weight: 400;
}


.uranus-grid-4 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.uranus-inline-edit-section,
.uranus-form {
  input, input[type="text"], input[type="email"], select, textarea {
    border: var(--uranus-input-border-width) solid var(--uranus-input-bg);
  }
}


@media (max-width: 540px) {
  .uranus-grid-4 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .uranus-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
